<html>
<head>
<title> Example Template!</title>
</head>
<body>
    {% if url_output %}

    <h1>The variable I passed in is: {{ url_output}}</h1>
    {% else %}
    <h1>No variable was passed in.</h1>
    {% endif%}

    <h1>This is the Example Template body</h1>
    <p> bla bla too too rosa</p>
    <a href="https://www.google.com">This is the link to all powerful Google!</a>

    <h1>This is for loop</h1>
    {% for link in links%}
    <a href='{{ link }}'>This is the link for the foor loop</a>
    {% endfor %}
    <h3>This is the end....my only friend the end..</h3>

</body>
</html>
